*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
.game{
    display: flex;
    flex-direction: column;
     text-align: center; 
     align-items: center;
     justify-content: center;
background: linear-gradient(rgb(101, 200, 101), rgb(207, 207, 89));
 width:450px ;
 height: 600px;
 border-radius: 15px;
margin: 50px auto;

 }
 h1{
    margin-bottom:25px ;
    color: aliceblue;
    font-size: 3rem;
    font-weight: 700;

 }
 .ticket{ 
   
    border-radius:14px ;
     border-radius:14px ;
    
     }
    button{
        font-size: 1rem;
        font-weight: 600;
         margin-bottom: 25px;
       align-self: center;
        width: 300px;
        height: 50px;
        border-radius: 14px;
        background: linear-gradient(rgb(236, 236, 21),rgb(254, 251, 254));
      cursor: pointer;
    } 
   h3{
    margin-top: 25px;
    font-size: 2rem;
    font-weight: 600;
   }
.attempt{
    font-size:2rem ;
}
    @media(max-width:480px){
    .game{
      width:90%;
         height:auto;
    }
    button{
        width: 80%;
         height:40px ;
       
    }
 }
   @media(max-width:768px){
    .game{
      width: 70%;
       height: auto;
  
    }
     button{
        width: 90%;
    
    }
 }
 
   @media(max-width:998px){
    .game{
      width: 50%;
    
    }
 }
 @media(max-width:1024px){
    .game{
      width: 50%;
     height: auto;
    }
 }