
.ticket{
      font-size: 2rem;
      font-weight: 600;
        margin:30px; 
 display: flex;
flex-direction: row;
 justify-content: center;
 align-items: center;
    } 
     @media(max-width:480px){
   .ticket{
  margin:auto;
   }
 }
  